packages:
  yum:
    gcc: []
    mariadb105-devel: []
    pkgconf: []

files:
  "/var/log/django.log":
    mode: "0664"
    owner: ec2-user
    group: ec2-user
    content: ""

commands:
  01_create_pids_directory:
    command: "mkdir -p /var/pids"
  02_update_ownership:
    command: "chown -R ec2-user:ec2-user /var/pids"
  set_log_permissions:
    command: "chown ec2-user:ec2-user /var/log/django.log && chmod 0664 /var/log/django.log"
