packages:
  yum:
    gcc: []
    mariadb105-devel: []
    pkgconf: []

files:
  # Ensure the group exists and other configurations
  "/etc/group":
    mode: "000644"
    owner: root
    group: root
    content: |
      webgroup:x:1001:ec2-user,webapp

  # Django log file initialization
  "/var/log/django.log":
    mode: "0664"
    owner: webapp
    group: webapp
    content: "# Django log file initialized\n"

commands:
  01_create_pids_directory:
    command: "mkdir -p /var/pids"
  02_add_user_to_group:
    command: "usermod -aG webgroup ec2-user"
    ignoreErrors: true
  03_add_user_to_group_webapp:
    command: "usermod -aG webgroup webapp"
    ignoreErrors: true
  04_chown_pids_directory:
    command: "chown :webgroup /var/pids"
    ignoreErrors: true
  05_chmod_pids_directory:
    command: "chmod 770 /var/pids"  # Allow full permissions for the group (webgroup)
  06_set_log_permissions:
    command: "chown webapp:webapp /var/log/django.log && chmod 0664 /var/log/django.log"
  07_chown_webservice:
    command: "chown ec2-user:ec2-user /etc/systemd/system/web.service"
    ignoreErrors: true
  08_chmod_webservice:
    command: "chmod 664 /etc/systemd/system/web.service"
    ignoreErrors: true
