
files:
  "/etc/systemd/system/web.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Gunicorn instance to serve Django
      PartOf=eb-app.target

      [Service]
      User=webapp
      Type=simple
      ExecStartPost=/bin/sh -c "systemctl show -p MainPID web.service | cut -d= -f2 > /var/pids/web.pid"
      ExecStopPost=/bin/sh -c "rm -f /var/pids/web.pid"
      Restart=always
      EnvironmentFile=/opt/elasticbeanstalk/deployment/env
      SyslogIdentifier=web
      WorkingDirectory=/var/app/current/

      [Install]
      WantedBy=multi-user.target

commands:
  01_enable_web_service:
    command: |
      systemctl daemon-reload
      systemctl enable web.service
      systemctl restart web.service
